.App {
  width: 100vw;
  height: 100vh;
  padding: 5% 10%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousal {
  background-color: aliceblue;
  width: 70%;
  min-height: 80%;
}
